= render 'layouts/navigation'

%ul.extra-nav
  %li= link_to('Awesome', '#')
  %li= link_to('Amazing', '#')
  %li= link_to('Astonishing', '#')

.content
  %h2 Bonus Task

  %p
    OK, so this is the bonus task. We, and everybody else, is moving towards a mobile world. That is why we want this page to become responsive. The layout from the last task should be somewhat fluid already, but want to have a proper mobile view. It should look like the picture below. Note that the main navigation stacks, the secondary navigation disappears altogether and the form uses one row per input field.
    %br

    = image_tag('test.png')

  = render 'form'
