<!DOCTYPE html>
<html>
<head>
  <title>FeCodingTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% unless action_name == 'index'%>
  <%= link_to_if action_name != 'task1', 'Task 1', task1_registration_index_path %>
  <%= link_to_if action_name != 'task2', 'Task 2', task2_registration_index_path %>
  <%= link_to_if action_name != 'task3', 'Task 3', task3_registration_index_path %>
<% end %>

<%= yield %>

<% unless action_name == 'index'%>
  <%= render 'form' %>
<% end %>

</body>
</html>
